html {
  height: 100%;
  width: 100%;
  background-color: #111;
  font-family: Arial, sans-serif;
}

.block {
  color: #fff;
  background-color: #222;
  border-color: #333;
  border-style: dotted;
  border-radius: 15px;
  padding-left: 10px;
  margin-top: 5px;
  height: 500px;
  width: 1280px;
  display: flex;
}

.newblock {
  background-color: #ff005c;
  border-radius: 10px;
  border-style: none;
  color: white;
  padding: 15px 0;
  /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: block;
  /* Make the button a block element */
  width: 50%;
  /* Set the width to 100% */
  font-size: 16px;
  margin-right: 3px;
}

.reloadblock {
  background-color: #ff005c;
  border-radius: 10px;
  border-style: none;
  color: white;
  padding: 15px 0;
  /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: block;
  /* Make the button a block element */
  width: 50%;
  /* Set the width to 100% */
  font-size: 16px;
  margin-left: 3px;
}

button:hover {
  background-color: #c60149;
}

input {
  width: 150px;
  box-sizing: border-box;
  padding: 0px 5px;
  margin-top: 5px;
  border: 2px solid #c60149;
  background-color: #222;
  border-radius: 4px;
  color: #fff;
}

.language-javascript {
  width: 500px;
  /* Adjust as needed */
  overflow-wrap: break-word;
  white-space: pre-wrap;
  /* Wraps text and preserves newline characters */
  word-wrap: break-word;
  /* Breaks words to prevent overflow */
}

.dropdown {
  width: 150px;
  box-sizing: border-box;
  padding: 0px 5px;
  margin-top: 5px;
  border: 2px solid #c60149;
  background-color: #222;
  border-radius: 4px;
  color: #fff;
}

.displayblock {
  width: 200px;
  height: 200px;
}

.toolbox {
  display: flex;
}

.previewstuff {
  color: #fff;
  background-color: #333;
  border-color: #222;
  border-style: dotted;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 10px;
  display: block;
}

p {
  color: #fff;
}

.blocks {
  display: block;
  float: left;
}

.codearea {
  margin-left: 10px;
  float: right;
}

.website {
  display: flex;
}

/* This is the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  background-color: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
