html {
  height: 100%;
  width: 100%;
  background-color: #111;
  font-family: Arial, sans-serif;
}

input {
  height: 30px;
  margin-left: 5px;
}

select {
  height: 30px;
}

.block {
  color: #fff;
  background-color: #222;
  border-color: #333;
  border-style: dotted;
  border-radius: 15px;
  padding-left: 10px;
  margin-top: 5px;
  height: 500px;
  width: 1280px;
  display: flex;
  overflow: auto;
}

.newblock {
  background-color: #a5033d;
  border-radius: 10px;
  border-style: none;
  color: white;
  padding: 15px 0;
  /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: block;
  /* Make the button a block element */
  width: 50%;
  /* Set the width to 100% */
  font-size: 16px;
  margin-right: 3px;
}

.reloadblock {
  background-color: #a5033d;
  border-radius: 10px;
  border-style: none;
  color: white;
  padding: 15px 0;
  /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: block;
  /* Make the button a block element */
  width: 50%;
  /* Set the width to 100% */
  font-size: 16px;
  margin-left: 3px;
}

.downloadExtension {
  background-color: #a5033d;
  border-radius: 10px;
  border-style: none;
  color: white;
  padding: 15px 0;
  /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: block;
  /* Make the button a block element */
  width: 25%;
  /* Set the width to 100% */
  font-size: 16px;
  margin-left: 3px;
}

.copyExtension {
  background-color: #a5033d;
  border-radius: 10px;
  border-style: none;
  color: white;
  padding: 15px 0;
  /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: block;
  /* Make the button a block element */
  width: 25%;
  /* Set the width to 100% */
  font-size: 16px;
  margin-left: 3px;
}

.new-args {
  background-color: #a5033d;
  border-radius: 10px;
  border-style: none;
  color: white;
  padding: 5px 0;
  /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: block;
  /* Make the button a block element */
  width: 134px;
  /* Set the width to 100% */
  font-size: 16px;
  margin-left: 3px;
}

.delete-args {
  background-color: #a5033d;
  border-radius: 10px;
  border-style: none;
  color: white;
  padding: 5px 0;
  /* Adjust as needed */
  text-align: center;
  text-decoration: none;
  display: block;
  /* Make the button a block element */
  width: 134px;
  /* Set the width to 100% */
  font-size: 16px;
  margin-left: 3px;
  margin-top: 3px;
}

button:hover {
  background-color: #ff005c;
}

input {
  width: 150px;
  box-sizing: border-box;
  padding: 0px 5px;
  margin-top: 5px;
  border: 2px solid #a5033d;
  background-color: #222;
  border-radius: 4px;
  color: #fff;
}

.language-javascript {
  width: 500px;
  /* Adjust as needed */
  overflow-wrap: break-word;
  white-space: pre-wrap;
  /* Wraps text and preserves newline characters */
  word-wrap: break-word;
  /* Breaks words to prevent overflow */
  float: right;
}

.dropdown {
  width: 150px;
  box-sizing: border-box;
  padding: 0px 5px;
  margin-top: 5px;
  border: 2px solid #a5033d;
  background-color: #222;
  border-radius: 4px;
  color: #fff;
}

.displayblock {
  width: 200px;
  height: 200px;
}

.toolbox {
  display: flex;
}

.previewstuff {
  color: #fff;
  background-color: #333;
  border-color: #222;
  border-style: dotted;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 10px;
  display: block;
}

p {
  color: #fff;
}

.blocks {
  display: block;
  float: left;
}

.codearea {
  margin-left: 10px;
  float: right;
}

.website {
  display: flex;
}

/* This is the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  background-color: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

#copied {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #a5033d;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.block-actions {
  display: flex;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  margin-top: 5px;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #222;
}

.collapsible:after {
  content: 'V';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: "^";
  /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.arguments {
  padding: 0 18px;
  background-color: #333;
  max-height: 0px;
  overflow: auto;
  transition: max-height 0.2s ease-out;
}